table {
  border: 1px solid #000000;
  border-collapse: collapse;

  tr, th, td {
    border: 1px solid black;
    padding: 1rem;
  }
}

img {
  width: 200px;
}

.body-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-summary {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.order-summary-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}